@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
  font-family: "Encode Sans Expanded", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.active::before {
  position: absolute;
  content: "";
  bottom: 10px;
  height: 2px;
  width: 24px;
  background-color: #5c426c;
}

div [data-error="true"] {
  opacity: 1;
  top: 30px;
}
div [data-success="true"] {
  opacity: 1;
  background-color: #62a420;
  top: 30px;
}

#scrollbar::-webkit-scrollbar {
    width: 3px;
  }
  
#scrollbar::-webkit-scrollbar-thumb {
    background-color: #0079B8;
  }

#scrollbar::-webkit-scrollbar-track {
    width: 3px;
    background: #D1D1D1;
}
